a.mt-button,
.mt-button > a,
button.mt-button,
input[type='submit'],
input[type='reset'],
input[type='button'],
.btn {
  padding: 15px 24px;
  text-transform: uppercase;
  font-size: inherit;
}
a.mt-button:hover,
.mt-button > a:hover,
button.mt-button:hover,
.btn:hover,
a.button:hover {
  padding: 15px 24px;
}
a.mt-button:after,
.mt-button > a:after,
button.mt-button:after {
  opacity: 0;
  content: '';
}
a.mt-button.mt-button--outline,
.mt-button.mt-button--outline > a,
input[type='submit'].mt-button--outline,
input[type='reset'].mt-button--outline,
input[type='button'].mt-button--outline {
  position: relative;
  padding: 15px 24px;
}
a.mt-button.mt-button--link,
.mt-button.mt-button--link > a,
button.mt-button.mt-button--link,
a.button {
  color: inherit;
  font-size: inherit;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--mt-link-color);
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 15px;
}
a.mt-button.mt-button--link:hover,
.mt-button.mt-button--link > a:hover,
button.mt-button.mt-button--link:hover,
a.button:hover {
  color: inherit;
  font-size: inherit;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--mt-link-color);
}
a.mt-button.mt-button--outline:hover,
.mt-button.mt-button--outline > a:hover,
input[type='submit'].mt-button--outline:hover,
input[type='reset'].mt-button--outline:hover,
input[type='button'].mt-button--outline:hover {
  background-image: none;
}
