/**
 * @file
 * Visual styles for Bootstrap Business's node in teaser tile view.
 */
.node--view-mode-card.region--default-background {
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: var(--mt-color-accent-dark);
}
