.path-node:not(.page-node-type-page):not(.page-node-type-mt-landing-page)
  .page-title {
  background-color: var(--mt-color-accent);
  padding: 1.5rem 3rem 2rem;
  margin: 0;
  border-radius: var(--mt-custom-element-border-radius)
    var(--mt-custom-element-border-radius) 0 0;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: var(--mt-color-accent-dark);
}
.path-node:not(.page-node-type-page):not(.page-node-type-mt-landing-page)
  .node--view-mode-full {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--mt-color-accent-dark);
  background-color: var(--mt-color-accent);
  padding-bottom: 1.5rem;
  padding-right: 3rem;
  padding-left: 3rem;
}
.path-node:not(.page-node-type-page):not(.page-node-type-mt-landing-page)
  .node__meta {
  margin: 0;
}
